* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background: #262336;
}

/*banner*/

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        align-self: start;
        justify-self: start;
        background: #262336;
        border: none;
    }

    .menuIcon {
        width: 4rem;
    }

    .navigation {
        display: none;
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: #6f6c89;
    border-bottom: 1px solid #2d2a3d;

    & .logo {
        display: flex;
        justify-content: start;
        align-items: end;

        & img {
            width: 110px;
        }

        & .text > h1, p {
            margin: 0;
            padding-left: 1rem;
            background: linear-gradient(#c9c8cf, #3f3f3f);
            background-clip: text;
            color: transparent;
        }
    }

    & a, ul{
        text-decoration: none;
        color: #6f6c89;
        padding-left: 2rem;
        margin: 0;
    }
}

.navigation {
    align-content: end;
}

/*under-banner*/

.customerSupport {
    text-align: center;
    max-width: 60vw;
    justify-self: center;
    background: #262336;
    color: white;
    padding-bottom: 9rem;

    & h1 {
        font-size: clamp(2.5rem, 5vw, 5rem);
        margin: 1rem;
    }

    & h2 {
        font-size: clamp(2rem, 4vw, 4rem);
        background: linear-gradient(#c9c8cf, #3f3f3f);
        background-clip: text;
        color: transparent;
        margin: 1rem;
    }

    & button {
        text-decoration: none;
        color: #fff;
        padding: 15px 12px;
        margin-top: 15px;
        background: linear-gradient(#817b9b, #6b6780);
        border: none;
        border-radius: 4px;
        font-size: 1.5 rem;
    }
}

/*Orange*/

.about {
    background: #f29b66;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    & .control {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        min-width: 200px;
    }

    & img {
        width: 7rem;
        border-radius: 100%;
    }

    h5 {
        font-size: 2rem;
        background: linear-gradient(#e3e1eb, #c2c2c2);
        background-clip: text;
        color: transparent;
    }

    h4 {
        font-size: 2.5rem;
        color: #fff;
    }
}

/*Hosting*/

.hosting {
    background: #e8e8ea;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
    text-align: center;
    padding: 1rem;

    & .Hosting {
        background: #6f6c89;
        border: 2px solid #e2dada;
        border-radius: 5px 5px 0 0;
        width: 20vw;
        min-width: 200px;
        color: #818181;
    }
}

.arrow {
    height: 50px;
    width: 50px;
    background: #6f6c89;
    border-radius: 20px 0 0 0;
    rotate: 45deg;
    justify-self: center;
}

.price {
    height: 90px;
}
        
.grey {
    padding: 25px;
    color: #fff;
    font-size: larger;
}

.grey span {
    background: linear-gradient(#f28e57, #e55b2f);
    background-clip: text;
    color: transparent;
    font-size: medium;
}

.white {
    background: #fff;
}

.dark {
    background: #f5f0f0;
}

.white, .dark {
    padding: 15px;
}

.grey, .white, .dark {
    border: 2px solid #e2dada;
}

.signUp, .shopNow {
    background: linear-gradient(#f28e57, #e55b2f);
    color: #e8e8ea;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    width: 100px;
}

.title {
    background: linear-gradient(#fff, #222);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    border-radius: 5px 5px 0 0;
}

/*services*/

.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #262336;
    color: #c9c8cf;
    padding: 1rem;
}

.hostServices {
    width: 15vw;
    min-width: 200px;
    
    & li::marker {
        color: #ff7920;
    }

    & h4 {
        background: linear-gradient(#c9c8cf, #3f3f3f);
        background-clip: text;
        color: transparent;
        padding: 1rem 1rem 1rem 0;
    }

    & ul {
        padding: 0 1rem 1rem 3rem;
    }

    & p {
        color: #b4b2bd;
        padding-bottom: 1rem;
    }
}

/*sponsors*/

.sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background: #322f40;
}

.sponsors img {
    width: 20vw;
    min-width: 150px;
    max-width: 300px;
}

/*footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: #1a1921;
    color: #34374D;
}

.box1 {
    display: flex;
    align-items: center;
}

.bottomLogo {
    width: 3vw;
    max-width: 100px;
    min-width: 38px;
    border-radius: 10px;
}

.copyright, .companyName {
    padding-left: 1rem;

    & span {
        color: #656A86;
    }
}

.socials .icons {
    width: 30px;
}