* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background: #262336;
}

/*banner*/

.banner {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    color: #6f6c89;
    border-bottom: 1px solid #2d2a3d;

    & .logo {
        display: flex;
        justify-content: start;
        align-items: end;

        & img {
            width: 110px;
        }

        & .text > h1, p {
            margin: 0;
            padding-left: 1rem;
            background: linear-gradient(#c9c8cf, #3f3f3f);
            background-clip: text;
            color: transparent;
        }
    }

    & a, ul{
        text-decoration: none;
        color: #6f6c89;
        padding-left: 2rem;
        margin: 0;
    }
}

.navigation {
    align-content: end;
}

/*under-banner*/

.customerSupport {
    text-align: center;
    max-width: 60vw;
    justify-self: center;
    background: #262336;
    color: white;
    padding-bottom: 9rem;

    & h1 {
        font-size: clamp(2.5rem, 5vw, 5rem);
        margin: 1rem;
    }

    & h2 {
        font-size: clamp(2rem, 4vw, 4rem);
        background: linear-gradient(#c9c8cf, #3f3f3f);
        background-clip: text;
        color: transparent;
        margin: 1rem;
    }

    & a {
        text-decoration: none;
        color: #fff;
        padding: 12px;
        background: linear-gradient(#817b9b, #6b6780);
        border-radius: 4px;
    }
}

/*Orange*/

.about {
    background: #f29b66;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    & .control {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        width: 20vw;
        min-width: 200px;
    }

    & img {
        width: 7rem;
        border-radius: 100%;
    }

    & h4, h5 {
        margin: 5px;
    }
}

/*Hosting*/

.hosting {
    background: #e8e8ea;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
    text-align: center;
    padding: 1rem;

    & .Hosting {
        background: #c9c8cf;
        border: 2px solid black;
        border-radius: 5px 5px 0 0;
        width: 20vw;
        min-width: 200px;
        
        & .grey {
            background: #3f3f3f;
            padding: 25px;
        }

        & .white {
            background: #e8e8ea;
        }

        & .white, .dark {
            padding: 15px;
        }

        & .grey, .white, .dark {
            border: 2px solid #2d2a3d;
        }

        & button {
            background: #f29b66;
            color: #e8e8ea;
            padding: 5px;
            border: none;
            border-radius: 5px;
        }
    }
}

/*services*/

.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #262336;
    color: #c9c8cf;
    padding: 1rem;
}

.hostServices {
    width: 15vw;
    min-width: 200px;
    
    & li::marker {
        color: #ff7920;
    }

    & h4 {
        background: linear-gradient(#c9c8cf, #3f3f3f);
        background-clip: text;
        color: transparent;
    }
}